@page "/session/{id}"
@inject IHealthRepository healthRepository

@if (session == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SessionDetails Start="@session.DateTime" End="@session.EndDateTime" />
}

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    HealthEntry? session;

    protected async override Task OnInitializedAsync()
    {
        session = await healthRepository.Get(Id);
    }
}
